{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <h3> 
        Search Book 
    </h3>

    <input class="form-control" type="search" 
        name="search"
        placeholder="Commencer a écrire le livre à rechercher..."
        hx-post="/profile/search/api"
        hx-trigger="keyup changed delay:500ms, search"
        hx-target="#search-results" 
    >

    <div id="search-results"></div>

{% endblock %}
